# O. t-test

Вам даны данные следующего формата: для каждого события зафиксирован идентификатор пользователя (user_id), сумма транзакции (gmv), группа эксперимента (group_name).

Сагрегируйте данные до пользователя (тип агрегации: сумма). Мы проверяем гипотезу равенства средних поюзерных gmv.

Посчитайте T-статистику. Найдите P-value, используя T-test.

Используйте данные из файла [synthetic_gmv_data_1.2.csv](https://github.com/dakhakimova/YSDA_ABweek/blob/476cbc4a49e1f4dfcdb376d69239b6103fbad932/synthetic_gmv_data_1.2.csv)

NB! Здесь и далее, если вы будете использовать встроенную функцию stats.ttest_ind, не забудьте добавить параметр equal_var=False.
Эта функция использует поправки Уэлча на степени свободы, когда мы считаем "руками",
    то обычно используем упрощенную формулу для степеней свободы $m+n−2$ (количество уников теста + количество уников контроля - 2).
Поэтому ответы могут немного различаться. Оба варианта будут считаться верными.

## Формат вывода

В ответе выведите два числа через пробел.
Целую и дробную часть разделяйте точкой.

Пример ответа: 1.990 2.014

## Примечание

Округлите до 3-го знака после точки.

# Решение

In [13]:
import pandas as pd
import scipy.stats as stats

In [4]:
url =                "https://github.com/dakhakimova/YSDA_ABweek/blob/476cbc4a49e1f4dfcdb376d69239b6103fbad932/synthetic_gmv_data_1.2.csv"
url = "https://raw.githubusercontent.com/dakhakimova/YSDA_ABweek/" + "476cbc4a49e1f4dfcdb376d69239b6103fbad932/synthetic_gmv_data_1.2.csv"
df = pd.read_csv(url)

In [5]:
df.head()

      user_id   gmv group_name
0  myo4ixol31  1428       test
1  myo4ixol31  1428       test
2  myo4ixol31  1071       test
3  myo4ixol31  1071       test
4  pkzf2889ww   351       test

In [10]:
df['group_name'].unique()

array(['test', 'control'], dtype=object)

In [12]:
X_test = df[df['group_name'] == 'test']
X_control = df[df['group_name'] == 'control']

In [14]:
X_test = X_test.groupby('user_id')['gmv'].sum()
X_control = X_control.groupby('user_id')['gmv'].sum()

$
    H_0: \mu_t = \mu_c
$

In [17]:
value, pvalue = stats.ttest_ind(X_test, X_control, equal_var=False)
value, pvalue

(2.360412342662625, 0.01825692218030775)

In [18]:
round(value,3), round(pvalue,3)

(2.36, 0.018)

Ответ: `2.36 0.018`